@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F7FB;
    padding: 0;
}

.correct {
    background-color: #94D7A2;
    border: 1px solid #94D7A2;
}

.incorrect {
    background-color: #F8BCBC;
    border: 1px solid #F8BCBC;
    color: #4D5B9E;
}

.neither {
    color: #4D5B9E;
    border: 1px solid #4D5B9E;
}

.blob-1 {
    position: fixed;
    width: 500px;
    height: 500px;
    left: 64rem;
    bottom: 25rem;
}

.blob-2 {
    position: fixed;
    width: 500px;
    height: 500px;
    left: -20rem;
    top: 28rem;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.answer-btn {
    display:grid;
    place-items: center;
}

.container {
    display: flex;
}

img {
    z-index: -1;
    user-select: none;
}

.counter{
    padding: .8rem;
    color: #293264;
    margin-right: 1rem;
    font-weight: 700;
}

.quizes {
    user-select: none;
    padding-right: 2rem;
    padding-left: 2rem;
}

.check-answers {
    border: none;
    border-radius: 15px;
    background-color: #4D5B9E;
    color: #f5f7fb;
    font-size: 16px;
    margin-top: 1rem;
    padding: 1px;
    width: 180px;
    height: 50px;
}

.center {
    display: grid;
    place-items: center;
}

.title {
    font-family: 'Karla', sans-serif;
    letter-spacing: .1ch;
    font-size: 31px;
    color: #293264;
    margin: 0;
}

.description {
    font-size: 16px;
    color: #293264;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.answers {
    display: flex;
}


.quiz-question {
    color: #293264;
}

.quiz-answer {
    margin-right: 1rem;
    border-radius: 15px;
    padding: 8px;
    cursor: pointer;
    user-select: none;
}

.answer-color {
    color: #293264;
    border: 1px solid #293264;
}

.held {
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
}

.quizBtn {
    width: 300px;
    height: 54px;
    border-radius: 15px;
    border: none;
    color: #F5F7FB;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #4D5B9E;
}